<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>To do List</display-name>
	<welcome-file-list>
		<welcome-file>0_readme.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>configExample</servlet-name>
		<jsp-file>/configExample.jsp</jsp-file>
		<init-param>
			<param-name>dname</param-name>
			<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>configExample</servlet-name>
		<url-pattern>/configExample</url-pattern>
	</servlet-mapping>

<context-param>
	<param-name>dname</param-name>
	<param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
</context-param> 

</web-app>